@{
    ViewData["Title"] = "Home Page";
}
<h1>Bienvenido al ahorcado uvita 🍇🍇🍇</h1>
<p>Este juego consiste en adivinar una palabra arriesgando letras. Cuando arriesgas una letra, te vamos a decir si esa letra está en la palabra y en qué lugar o si no está. También vas a poder ver la cantidad de letras de la palabra. Cuando creas saber cuál es la palabra, podés arriesgar. ¡Mucha suerte!</p>
<div>
    <form>
        <input type="hidden" name="palabra" value='@ViewBag.palabra'>
        <input type="text" max="1"
    </form>
</div>
<p>cantidad de intentos restantes: </p>
<div>

</div>